version: "3.8"
services:
  web:
    depends_on:
      - api
    build: ./frontend
    ports:
      - 5173:5173
    environment:
      VITE_API_META_URL: http://localhost:5000
    develop:
      watch:
        - path: ./frontend/package.json
          action: rebuild
        - path: ./frontend/package-lock.json
          action: rebuild
        - path: ./frontend
          target: /app
          action: sync
  api:
    depends_on:
      - db
    build: ./backend
    ports:
      - 5000:5000
    environment:
      MONGO_URI: mongodb://db/meta
      PORT: 5000
      SECRET_KEY: DajgFga654gsadfgDFASdfskld
    develop:
      watch:
        - path: ./backend/package.json
          action: rebuild
        - path: ./backend/package-lock.json
          action: rebuild
        - path: ./backend
          target: /app
          action: sync
  db:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - meta:/data/db
volumes:
  meta:
