@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-ExtraLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-ExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/Fonts/Inter/Inter-Black.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Yekan";
    src: url("/Fonts/Yekan/YekanBakhFaNum-Regular-1.woff2") format("woff2"),
      url("/Fonts/Yekan/YekanBakhFaNum-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: "Yekan";
    src: url("/Fonts/Yekan/YekanBakhFaNum-Regular-1.woff2") format("woff2"),
      url("/Fonts/Yekan/YekanBakhFaNum-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: "Yekan";
    src: url("/Fonts/Yekan/YekanBakhFaNum-ExtraBold-1.woff2") format("woff2"),
      url("/Fonts/Yekan/YekanBakhFaNum-ExtraBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: "Yekan";
    src: url("/Fonts/Yekan/YekanBakhFaNum-Bold-1.woff2") format("woff2"),
      url("/Fonts/Yekan/YekanBakhFaNum-Bold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-display: swap;
    font-family: "Yekan";
    src: url("/Fonts/Yekan/YekanBakhFaNum-Black-2.woff2") format("woff2"),
      url("/Fonts/Yekan/YekanBakhFaNum-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }
  :root {
    --baseColor: 233, 237, 255;
    --text: 27, 29, 39;
    --primary: 23, 130, 199;
    --success: 51, 238, 68;
    --error: 238, 51, 67;
    --warning: 166, 184, 37;
  }
  :root.dark {
    --baseColor: 27, 29, 39;
    --text: 233, 237, 255;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: .375rem!important;
    height: .375rem!important;
    @apply bg-text/10 overflow-hidden rounded-full
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary/40 rounded-full border border-text;
  }

  /* .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  } */
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  body {
    @apply rtl:font-Yekan font-Inter bg-baseColor text-text transition-colors duration-300;
  }
  .center {
    @apply flex items-center justify-center;
  }
}
